In [ ]:
print("Hello World!")

Hello World

In [ ]:
a = 10
print(a)
print(type (a))
print(a, "is of type", type(a))

10
<class 'int'>
10 is of type <class 'int'>

In [ ]:
a = 10
print("The type of variable having value", a, "is", type(a))

The type of variable having value 10 is <class 'int'>

In [ ]:
a = 2.5e4
print(a, "is of type", type(a))

25000.0 is of type <class 'float'>

In [ ]:
a = 5
b = float(a)
print(b, "is of type", type(b))

5.0 is of type <class 'float'>

In [ ]:
c = 7.0
d = int(c)
print(d, "is of type", type(d))

7 is of type <class 'int'>

In [ ]:
my_list = [10, 5, 4, 5 ,70]
print(my_list, "is of type", type(my_list))

[10, 5, 4, 5, 70] is of type <class 'list'>

In [ ]:
my_list = [10, 5, 4, 2 ,70]
print(my_list[4])

70

In [ ]:
my_list = [10, "Dog", 4, "Cat" ,70]
print(my_list[1])

my_list[1] = "Fly"
print(my_list[1])

Dog
Fly

In [ ]:
my_list = [10, "Dog", 4, "Cat" ,70]
print(len(my_list))
print(my_list[-1])

5
70

In [ ]:
my_list = [10, "Dog", 4, "Cat" ,9]
print(my_list[1:5], "is of type", type(my_list[1:5]))
print(my_list[:4], "is of type", type(my_list[:4]))

['Dog', 4, 'Cat', 9] is of type <class 'list'>
[10, 'Dog', 4, 'Cat'] is of type <class 'list'>

In [ ]:
my_list = [10, "Dog", 4, "Cat" ,9]
my_list[1:3] = ["Parrot", 5]
print(my_list)

[10, 'Parrot', 5, 'Cat', 9]

In [ ]:
my_list = [10, "Dog", 4, "Cat" ,9]
my_list.insert(2, "Parrot")
print(my_list, len(my_list))

[10, 'Dog', 'Parrot', 4, 'Cat', 9] 6

In [ ]:
my_list = [10, "Dog", 4, "Cat" ,9]
my_list_1 = ["Dilshan", "Nimal", "Kamal"]
my_list.extend(my_list_1)
print(my_list, len(my_list))

[10, 'Dog', 4, 'Cat', 9, 'Dilshan', 'Nimal', 'Kamal'] 8

In [ ]:
my_list = [10, "Dog", 4, "Cat" ,9]
del my_list[2]
print(my_list, len(my_list))

[10, 'Dog', 'Cat', 9] 4

In [ ]:
my_list = ["Grapes", "apple", "Banana", "Pineapple"]
my_list.sort()
print(my_list)

['Banana', 'Grapes', 'Pineapple', 'apple']

In [ ]:
# Switch case statement
response_code = 203

match response_code:
    case 200:
        print("OK")
    case 201:
        print("Created")
    case 202:
        print("Accepted")
    case 203:
        print("Non-Authoritative Information")

Non-Authoritative Information

In [ ]:
# Switch case statement 
# Maching by the length of an Iterable

number = [4, 3, 7]

match number:      
    case [x, y]:     
        print(x * y)            
    case [x, y, z]: 
        print(x + y + z)
    case _:
        print("The list does not contain two or three numbers")

14

In [ ]:
number = [4, 3, 7, 8]

match number:
    case []:
        print("empty list") 
    case [x]:
        print("Has one element")
    case [x, y]:
        print("Has two elements")
    case [*rest]:
        print("More elements")

empty list

In [ ]:
# For loop

fruits = ["Apple", "Banana", "Pineapple", "Grapes"]

for fruit in fruits:
    print(fruit)

Apple
Banana
Pineapple
Grapes

In [54]:
number = [4, 2, 6, 8, 5]
square = []
for num in number:
    square.append(num * num)
print(square)

[16, 4, 36, 64, 25]

In [ ]:
# Text input from the user it will print the square of the numbers from 1 to the user input number
user_input = int(input("Enter a number: "))
square = []
for num in range(1, user_input + 1):
    square.append(num * num)
print(square)

[1, 4]

In [ ]:
# List comprehension
number = [4, 2, 6, 8, 5]
result = [num * num for num in number]
print(result)

[16, 4, 36, 64, 25]

In [ ]:
# print the square of the numbers from 1 to the user input number
numbers = [8, 12, -1, 5, 4, 0, -3]
positive = [num for num in numbers if num >= 0]
print(positive)

[8, 12, 5, 4, 0]

In [ ]:
# While loop
m = 5
i = 0

while i < m:
    print(i, end=" ")
    i += 1
    print("End of the loop")

0 End of the loop
1 End of the loop
2 End of the loop
3 End of the loop
4 End of the loop

In [ ]:
num = int(input("Enter a number: "))
square_num = []
count = 1
while num > 15:
    square_num.append(count * count)
    count += 1
    num -= 1
    print(square_num)

In [ ]:
while True:
    num = int(input("Enter a number: "))
    if num < 0:
        break
    print("Square of the number is", num * num)

Square of the number is 4
Square of the number is 9
Square of the number is 16
Square of the number is 0
Square of the number is 0
Square of the number is 4
Square of the number is 441
Square of the number is 9

In [ ]:
# Function and functinal programming
personal = {
    "Name": "Dilshan",
    "Age": 25
}

for key in personal:
    print(key, ":", personal[key])

Name : Dilshan
Age : 25

In [ ]:
# function 
def calculate_square(width, height):
    return width * height
calculate_square(5, 6)

30

In [ ]:
def calculate_square(width, height):
    return (width + height) * 2
calculate_square(5, 6)

22

In [ ]:
def calculate_circle_area(radius):
    return 3.14 * radius * radius
calculate_circle_area(5)

78.5

In [ ]:
# Default arguments
def add_arguments(a, b=5):
    return a + b
# add_arguments(5, 7) # 12 default value is not used
add_arguments(5) # 10 default value is used

10

In [1]:
# Positional arguments
def add_arguments(a, b, c):
    return a + b + c
print(add_arguments(5, 7, 8))

20

In [2]:
# Keyword arguments
def add_arguments(a, b, c):
    return a + b + c
print(add_arguments(c=8, a=5, b=7))

20

In [ ]:
def calculate_cost(price, qntity, tax_rate, discount):
    return price * qntity * tax_rate - discount
print(calculate_cost(price=100, qntity=5, tax_rate=1.1, discount=10))

540.0

In [ ]:
# Python String
my_str = '''I love computer programming,
        I have more experiance about it,
        I live in Galle.'''
print(my_str)

I love computer programming,
I have more experiance about it,
I live in Galle.

In [2]:
my_str = "Hello World"
my_list = list(my_str)
print(my_list)
print(len(my_str))
print(my_str[4])
print(my_str[2:8])
print(my_str.upper())
print(my_str.lower())

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
11
o
llo Wo
HELLO WORLD
hello world

In [38]:
my_str = "  Hello world     "
print(my_str)
my_str.strip()
print(my_str)

  Hello world
  Hello world

In [1]:
# Python functional declaration
def greet(name):
    return f"Hello, {name}!"

In [ ]:
# Arbitrary Argument
def arbitrary_positinal_arguments(*args):
    print(args, type(args))
arbitrary_positinal_arguments(2, 4, 6, 8)

In [ ]:
# Arbitrary Keyword Argument (**kwargs)
def arbitrary_keyword_args(**kwargs):
    for ket, value in kwargs.items():
        print(ket, ":", value)
arbitrary_keyword_args(name="Malith", age=21, country="Sri Lanka")

name : Malith
age : 21
country : Sri Lanka

In [ ]:
def summaries_grades(student_name, **grades):
    print("Student Name:", student_name)
    
    if grades:
        height = max(grades.values())
        lowest = min(grades.values())
        average = height / len(grades)

        print("Max of grades:", height)
        print("Lowest grade:", lowest)
        print("Average grade:", average)
    else:
        print("No grades available")

summaries_grades("Malith", Math=90, Science=85, English=70)
summaries_grades("Malith")

Student Name: Malith
Max of grades: 90
Lowest grade: 70
Average grade: 30.0
Student Name: Kamal
No grades available

In [22]:
def employee_info(name, **kwargs):
    print("Employee Name:", name)
    for key, value in kwargs.items():
        print(f"{key}: {value}")
    
    employee_details = {"name": name}
    employee_details.update(kwargs)
    return employee_details

# Example usage
info = employee_info("Malith Shehan", age=21, department="Senior Software Enginear", location="New York")
print(info)

Employee Name: Malith Shehan
age: 21
department: Senior Software Enginear
location: New York
{'name': 'Malith Shehan', 'age': 21, 'department': 'Senior Software Enginear', 'location': 'New York'}

In [27]:
# Build in functions
print(abs(-7))
print(all([True, False, True]))

7
False

In [29]:
# Built-in functions map()
def square(num):
    return num * num
numbers = [2, 4, 6, 8, 10]
result = map(square, numbers)
print(result, list(result))

<map object at 0x00000147948CEAA0> [4, 16, 36, 64, 100]

In [ ]:
# Fahrenheit = celsius * 9/5 + 32
temperatures = [20, 30, 25, 40, 15]
result = map(lambda x: (9/5) * x + 32, temperatures)
print(list(result))

[68.0, 86.0, 77.0, 104.0, 59.0]

In [40]:
# Built in function filter()
numbers = [2, 5, 6, 7, 8, 11]
result = filter(lambda x: x % 2 == 0, numbers)  # Even numbers
print(list(result))

[2, 6, 8]

In [42]:
# Python Lambda function
square = lambda x,y: x + y
print(square(3, 4))

7

In [ ]:
# Write a lamda function to return the power of two of a given number
power = lambda x: x ** 2
print(power(4))

16

In [46]:
# Write a python programme that
# 1. take list of tuples where each tuple contains a name(String) and age (integer).
# 2. use a lambda funtion to filter out the tuples where the age is less than 18.
# 3. print the filtered list.
people = [("Malith", 25), ("Malshan", 15), ("Tharin", 20)]
result = filter(lambda x: x[1] >= 18, people)
print(list(result))

[('Malith', 25), ('Tharin', 20)]

In [51]:
# Let's use that funtion definition to make a function that always doubles the number you send in
result = lambda x,y : max(x, y)
print(result(4, 5))

5

In [60]:
# Recursive Functions 
# 7! = 7 * 6 * 5 * 4 * 3 * 2 * 1= 5040
def factorial(n):
    if n == 0:
        return 1
    for i in range(1, n):
        n *= i
    return n
print(factorial(7))

5040

In [22]:
# 7! = 7 * 6 * 5 * 4 * 3 * 2 * 1= 5040
def functional(x):
    if x == 0 or x == 1:
        return 1
    else:
        return x * functional(x - 1)
num = 1558
print("The factorial of", num, "is", functional(num))

The factorial of 1558 is 2424858401169875856987549316530261243529336396354700842715749979460646110058233651782392648030625575890603295838549136086203631494904372698578181999057212055535785846413969420066573092861481554378165635499319577948946469878800693106187103360224139995239288292467274991657581799887960732860730465294056429604010675825650845592134295845654185424392132561718318353026455262912039002664120813132000602020151818744862796534620281615341820385425346251471878908201301227337883132211649086124629581129201309548248991126780745470297556208250525153383428851713805456555419758707284753260768805845944423382917543868035509410367649517977378961396490420583560768554085728596839435423979501005167390976056828737759722931049053051870481354220566751757226315251920734049093559363656820097662644345104685665152444697669009659982518091310671058073959926600845011866653850725006741331610135998770449096045426206531544154144601729043078225608136613193686346346764203375001081246967670378990121777385901921245133042374777487279240176076181929206652760242551593468206588418766183401939736514661022447416367789422605988204789848476655904174023752533626768590363300938231129606313365312387913130971900390208938471907315110717317435321123464794906710193916413838207147074458529525935478113361841325520841044346267628381902449941524896332350384902526765982148700924154884023605222691782597459599121027544229955922681404443327840648118042191399221650956164672857148227101451532445295161873221075926687151309815858723796054292521542311108190618276056103071140889723197707702368244847779594197140241112042128900654662720100758519336991189420021569389659862373674109453168227154296233208845394442627758282640964050502230911632608683569869755423400072413157317525410032842653580093887735517690412593258359388487289802270353135756659547954667344672901471048389223259683469006995762263469036620522300662493285722212048473141061111827211648276284983691538501299996459350066613212712170474963890532178735800245974574640904674554123815017979113627519922145830691096868313633320304359164703825903963661604335411773033078697699311892617463175229334854531701631075383899708905233041291527887059381689504636267968336033244928031019352467588242769652345533099117594059102256248189810284600657855707971881794779733938869280438373216606816889288287015049782284899585369920877745590840887712363661997881545433844629800189205229597440143179700162824702134957418586285920953284900382720017357876988767296282790084172114532622647998154080918863914038958583660595208167281479883677535909771428614756103440615905873310606657147769597200148222567970379939256596381142850272187439045199365546037482887333248526026065549397730475314476322168067523034600032867511743419691437003992038152628324659432676263448764134014429405489180634364519282138519962363193701386950109467042340571843977537752976341094127822030600936793871334872293490903117072170466054983434825167266916722980296391441044563178977701723309785609111259614474247364528550386532388327264689711775604664427340228901835597557029992960492192464058200400988909295153551200837397817601282679220611104173652358509007521101053095620748168997861050130023817703319787079095235833374426177514286578246903083415169109359323812741314724620593271262917265094024216337214863533448529254632599541703878619604512594846124252613960262726215219134672211844311020666195270036284140614857902974771290503656870984782590335117218368984797972576852801418834170795097602013208317371156612874344638041764532057542786831351076365498540443813006372421380736034740771076764178132559828434447544678633583005046265334346831012385703067191550416222980088761154519553974935287498676582754658553261232252765802371799256016444945115393409561160793126126735836975302341046431089640850574341354122545220831810806852068691732327187184240511538962440151159519314143893886850233861037997459199145386272154940965985357257552760909210073432064000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [24]:
# Calculate the sum of all the element in an array or list
def sum_of_elements(arr):
    if len(arr) == 1:
        return arr[0]
    else:
        return arr[0] + sum_of_elements(arr[1:])
arr = [1, 2, 3, 4, 5]
print(sum_of_elements(arr))

15

In [ ]:
# Implement a resursive function to generate the nth number in the fibonacci sequence. The Fibonacci sequence strats with 0 and 1, and each subsequent number is the sum of the two preceding ones.
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)
n = 10

for i in range(n):
    print(fibonacci(i))

# Python Modules
import math
print(math.pi)
print(math.sqrt(25))
print(math.factorial(5))

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
3.141592653589793
5.0
120